{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <p>
        <h1>
            Hello and Welcome To CS50 Finance!
        </h1>
    </p>
    <div>
    </div>
    <p>
        CS50 Finance is a web application to simulate stock transactions in real time. We provide you real stock prices of any company and
        allow you to sell and buy stocks from the same.

    </p>
    <p>
        Also, to enhance your experience, we provide you by default a sum of $10,000 at the very start!
    </p>
    <p>
        Remember, only use the 4 letter ticker symbols of the Company for any operation
    </p>
    <p>
        Click the Doge to continue!
    </p>
    <a href = "http://my-c-paradox-hunter.cs50.io:8080/login">
        <img class="border" src="https://memegen.link/doge/welcome_to_the/wall_street.jpg?font=typoline-demo"/>
    </a>

{% endblock %}
